@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap');
body{
    background-color: black;
    font-family: Shdow Into Light;
}
h1{
  background-image: linear-gradient(to bottom, rgb(228, 202, 255), rgb(170, 212, 247), rgb(179, 248, 241));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  font-weight:bold;
}
.metas{
    color: rgb(197, 252, 249);
    font-weight: bold;
}
.importancias{
    color: rgb(227, 203, 255);
    font-weight: bold;
}
.prazos{
    color: rgb(192, 192, 255);
    font-weight: bold;
}
h3{
    color: aliceblue;
    font-weight: lighter;
}