@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    background: linear-gradient(rgb(235, 212, 255), rgb(191, 253, 248));
    font-family: Dancing Script;
}
h1{
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  font-weight:bolder;
}
.metas{
    color: rgb(14, 73, 83);
    font-weight: bold;
}
.importancias{
    color: rgb(83, 15, 114);
    font-weight: bold;
}
.prazos{
    color: rgb(27, 27, 121);
    font-weight: bold;
}