@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap');
body{
    background-color: black;
    font-family: Amatic SC ;
}
h1{
  background-image: linear-gradient(to bottom, rgb(100, 19, 187), rgb(87, 142, 187), rgb(59, 210, 195));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  font-weight:bold;
  font-size: 60px;
}
.metas{
    color: rgb(0, 202, 192);
    font-weight: bold;
    font-size: 50px;
}
.importancias{
    color: rgb(132, 68, 204);
    font-weight: bold;
    font-size: 40px;
}
.prazos{
    color: rgb(84, 84, 181);
    font-weight: bold;
    font-size: 40px;
}
h3{
    color: aliceblue;
    font-weight: lighter;
    font-size: 30px;
}